nav {
  font-family: Noto Sans, Helvetica, sans-serif;
  text-transform:uppercase;
}

#name {
  color: #E34234;
  font-size: 5vw;
}

@media (min-width: 767px) {
  #name {
    font-size:4vw;
  }}

@media(min-width: 992px) {
  #name {
    font-size:3.25vw;
  }}

#bck{
  background-image: url('http://i1064.photobucket.com/albums/u370/DLKetch/F1590012%20copy_zpsig2cqtti.jpg');
  background-position:right;
  background-size: auto;
  background-repeat:no-repeat;
  background-attachment:fixed;}

@media (min-width: 400px){
  #bck{
    background-size: cover;
  }}

h1 {
  padding: 1%;
  font-family: Buda, serif !important;
  text-align:right;
  text-transform:lowercase;
}

#chinese {
  text-align:center;
  border:none;
  color:#E34234;
  font-size:80vw;
}
@media (min-width: 767px) {
  #chinese {
    float:left;
    font-size:20vw;
  }}

p {
  font-family: Buda, serif;
  font-size: 175%;
  color: #E34234;
  text-align: left;
  background: transparent;}

  @media (min-width:400px){
p {background: -webkit-linear-gradient(left, rgba(0,0,0,.6), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,.6), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,.6), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,0)); /* Standard syntax */
    }}

@media (max-width: 767px) {
  #about {
 padding-top:500px;
  }}

.btn {
  color: #E34234;
  float: right;
}

caption {
  text-align: right !important;
}
