.about {
  align-items: end;
  display: grid;
  grid: auto / 2fr 1fr;

  &__shadow {
    display: none;
  }

  &__wrapper {
    grid-column-start: 2;

    p {
      font-size: 1.25rem;
      line-height: 2rem;
      margin: 2vh 4vh 4vh 4vh;
      text-align: justify;
      text-shadow: $standard-shadow;
    }
  }

  @media (max-aspect-ratio: 14/10) {
    align-items: center;
    grid: auto / auto;

    &__wrapper p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
