header {
  background: $base-color;
  height: 50px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header {
  font-size: 2rem;
}

.title {
  line-height: 50px;
  padding-left: 2vw;
}

.nav-links {
  font-size: 1.5rem;
  line-height: 50px;
  padding-right: 2vw;
}

@media (max-aspect-ratio: 14/10) {
  header {
    height: 5rem;
  }
  .title {
    font-size: 3rem;
  }
}
