.header {
  position: sticky;
  top: 0;
  z-index: 99;

  &__nav {
    align-content: space-between;
    background: $base-color;
    display: grid;
    grid: auto / auto 1fr;
  }

  &__nav-links {
    align-content: center;
    display: grid;
    grid: auto / 1fr auto;
    grid-gap: 0 4vw;
    padding: 0 4vw;
    text-align: right;
  }

  &__title {
    font-size: 2rem;
    padding-left: 2vw;
    display: block;
    margin: auto 0;
  }
}

@media (max-aspect-ratio: 14/10) {
  .header {
    &__nav-links {
      font-size: 1rem;
    }
  }
}
