.projects {
  h1 {
    text-shadow: black 1px 2px 3px;
  }

  &__column {
    display: grid;
    grid: auto 1fr / auto;
    align-items: flex-start;
  }

  &__column h2 {
    display: block;
    text-align: center;
    text-shadow: $standard-shadow;
  }

  &__description {
    line-height: 150%;
    margin: 1vh 2.75vw;

    p {
      margin-bottom: 2vh;
      text-shadow: black -1px 2px 5px;
    }
  }

  &__icons {
    margin: .5rem;
  }

  &__icon {
    img {
      margin: .3rem;
    }
  }

  &__img {
    background: rgb(211, 211, 211);
    border: 1px solid;
    max-height: 300px;
    max-width: 25vw;
    margin: 0 1rem;
  }

  &__item {
    background: rgba(255, 255, 255, .2);
    border: 1px solid #444;
    display: grid;
    grid: 1fr auto / auto;
    margin: 1rem 2rem;

    a {
      margin: 1.5vh auto 0 auto;
    }
  }

  &__items {
    display: grid;
    grid: auto / auto;
    justify-content: center;
  }

  &__title {
    margin-top: 2vh;
    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid: auto / repeat(3, auto);
    justify-content: space-around;
    margin-top: 5vh;
  }

  @media (max-aspect-ratio: 1/1) {
    &__column {
      margin-top: 4vh;
    }

    &__img {
      max-width: 85vw;
    }

    &__item {
      margin: 1vh 0;
      padding: 1rem 0;
    }

    &__wrapper {
      grid: repeat(2, auto) / auto;
      justify-content: center;
    }
  }
}
