* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-image: $bg-img;
  background-size: auto;
  font-family: 'Noto Sans', Arial, sans-serif;
}

a {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

article p {
  margin: 0 0 2vh 2vw;
}

footer {
  background: $base-color;
  display: block;
  width: 100%;
}

h3 {
  margin: 2vh 1vh 1vh 1vh;
}

header {
  background: $base-color;
  height: 50px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

section {
  background: $section-bg;
  margin: 2vh 0;
  padding: 1vw;
}

.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-date {
  font-style: italic;
}

.blog-date, .blog-title {
  margin-bottom: 1vh;
}

.blog-item {
  border: 1px solid $blog-item-color;
  display: flex;
  flex-direction: column;
  flex: 0 1 20vw;
  margin: 2vh 0;
  padding: 2vh;
  min-width: 50vh;
}

.blog-title {
  border-bottom: 1px solid $blog-item-color;
  padding-bottom: 1vh;
}

.container {
  display: block;
  margin: auto;
  min-height: calc(100vh - 100px);
  padding: 2vh 0;
  width: 90vw;
}

.contact-item {
  background: $base-color;
  margin: 5vh auto;
  padding: 1vh;
  text-align: center;
  width: 50%;
}

.header {
  font-size: 2rem;
}

.nav-links {
  font-size: 1.5rem;
  line-height: 50px;
  padding-right: 2vw;
}

.projects-column {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  justify-content: center;
}

.projects-column h3 {
  display: block;
  text-align: center;
}
.project-img {
  background: rgb(211, 211, 211);
  border: 1px solid;
  height: 300px;
}

.project-item {
  align-items: center;
  background: $complement-light;
  display: flex;
  flex-direction: column;
  margin: 1vw auto;
  padding: 1rem 2rem;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.resume-item {
  border-bottom: 1px solid $color;
}

.section-heading {
  border-bottom: 2px solid $analog-light;
}

.title {
  line-height: 50px;
  padding-left: 2vw;
}
