@import "variables";
@import "about";
@import "contact";
@import "footer";
@import "header";
@import "projects";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html, body {
  background-image: $bg-img;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  color: $color;
  font-family: 'Noto Sans', Arial, sans-serif;
}

a {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

p {
  a {
    background: $complement;
    padding: 0 .33rem;
    text-shadow: none;
    font-style: italic;
  }
}

.container {
  display: block;
  margin: auto;
  min-height: calc(100vh - 4rem);
  padding: 2vh 5vw;
}

@media (max-aspect-ratio: 14/10) {
  .container {
    padding: 0;

    h1 {
      margin: 0 0 2vh 5vw;
    }
  }
}
